<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post App</title>
    <link rel="stylesheet" href="/style/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="min-h-screen w-full bg-zinc-900 text-white flex items-center justify-center p-10">
        <div class="bg-zinc-800 p-8 rounded-lg shadow-md w-full max-w-md">
            <h1 class="text-3xl tracking-tighter mb-4 text-center">Create Account</h1>
            <form action="/register" method="post">
                <input class="bg-transparent border-2 border-zinc-600 outline-none px-3 py-2 rounded-md mb-4 w-full" type="text" name="username" placeholder="Username" required>
                <input class="bg-transparent border-2 border-zinc-600 outline-none px-3 py-2 rounded-md mb-4 w-full" type="text" name="name" placeholder="Name" required>
                <input class="bg-transparent border-2 border-zinc-600 outline-none px-3 py-2 rounded-md mb-4 w-full" type="email" name="email" placeholder="Email" required>
                <input class="bg-transparent border-2 border-zinc-600 outline-none px-3 py-2 rounded-md mb-4 w-full" type="password" name="password" placeholder="Password" required>
                <input class="bg-transparent border-2 border-zinc-600 outline-none px-3 py-2 rounded-md mb-4 w-full" type="number" name="age" placeholder="Age" required>
                <input class="px-5 py-2 bg-blue-600 rounded-lg w-full" type="submit" value="Register">
            </form>
        </div>
    </div>
    
    
  </body>
  </html> 